body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 125px;
    padding-bottom: 0;
}
.newUserForm {
    width: 33.3%;
    margin-left: 33.3%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.newUserForm input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 33.3%;
    margin-left: 33.3%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background-color: #ffffff;
    border-color: #333333;
    color: #333333;
}

