header {
    color: #ffffff;
    padding-left: 10px;
}
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
br {
    display: block;
    margin: 4px 0;
}
.loginButton {
    border-style: solid;
    border-radius: 4px;
    color: #6a6a6a;
    border-color: #6a6a6a;
    margin: 5px;
    width: 25%;
    align-items: center;
    height: 20px;
}
.loginButton:hover {
    border-color: #ffffff;
    background-color: #6a6a6a;
    color: #ffffff;
}
.loginBox {
    width: 50%;
    height: 80%;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    border-color: #6a6a6a;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.inputBox {
    border-color: #000000;
    border-radius: 25px;
    width: 40%;
    height: 25px;
}
h1 {
    color: #000000;
}

