body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
h1 {
    text-align: center;
    padding-top: 10%;
    font-size: 100px;
    padding-bottom: 0;
}
h2 {
    font-size: 40px;
}
a:link {
    text-decoration: none;
    color: #333333;
}

a:visited {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}