.navigationBar {
    overflow: hidden;
    background-color: #333333;
}
.navigationBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigationBar a:hover {
    background-color: #ffffff;
    color: #333333;
}
.navigationBar .icon {
    display: none;
}
.navigationBar .loginContainer {
    float: right;
} 
.navigationBar input[type=text], [type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
}  
.navigationBar .loginContainer button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #333333;
    color: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
} 
.navigationBar .loginContainer button:hover {
    background-color: #ffffff;
    color: #333333;
}
@media screen and (max-width: 600px) {
    .navigationBar a:not(:first-child) {display: none;}
    .navigationBar a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .navigationBar.responsive {position: relative;}
    .navigationBar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigationBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.pageContent {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    text-shadow: 1px 1px 1px #ffffff;
}
.pageContent button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #333333;
    color: #ffffff;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}
.pageContent button:hover {
    background-color: #ffffff;
    border-color: #333333;
    color: #333333;
}
.navigationBar .userLogout {
    float: right;
}
.navigationBar .userLogout a {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #333333;
    color: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.navigationBar .userLogout a:hover {
    background-color: #ffffff;
    color: #333333;
}