body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
h1 {
    text-align: left;
    font-size: 50px;
    margin: 10px;
}
h2 {
    font-size: 40px;
}
ul {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    list-style-type:none;
}
ul li {
    background: #ffffff;
    border-radius: 5px;
    margin: 5px;
}
a:link {
    color: #333333;
}
a:hover {
   color: #0000ff;
}
a:visited {
    color: #ffffff;
}
.postTitle {
    font-size: 20px;
    margin-top: 2px;
}