body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
h1 {
    text-align: left;
    font-size: 50px;
    margin: 10px;
}
h2 {
    font-size: 40px;
}
ul {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    list-style-type:none;
}
ul li {
    background: #ffffff;
    border-radius: 5px;
    margin: 5px;
}
a:link {
    color: #333333;
    text-decoration: none;
}
a:hover {
   color: #0000ff;
}
a:visited {
    color: #333333;
}
.postTitle {
    font-size: 20px;
    margin-top: 2px;
}
.searchContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
input[type=text] {
    width: 89.5%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
input[type=submit] {
    width: 9.5%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ffffff;
    border-style: none;
    border-color: #333333;
    color: #333333;
}
